// Widescreens

@include mediaXl {
}

// Desktops and Laptops

@include mediaLg {
}

// Tablets

@include mediaMd {

    body{
        font-size: 13px;
    }
    h1,h2,h3 {
        &.sm-heading{
            font-size: 1.5rem;
            padding: 0.2rem .5rem;
            font-weight: 550;
        }
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;

        .nav-links {
            width: 100%;
            display: none;

            &.active{
                display: flex;
            }

            ul{
                flex-direction: column;
                width: 100%;
                li {
                    text-align: center;
                    a{
                        padding: .5rem 1rem;
                    }
                }
            }
        }

        .toggle-button {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 21px;
            cursor: pointer;

            .bar{
                background-color: white; // later use select text color
                width: 100%;
                height: 3px;
                border-radius: 10px;
            }
        }
    }

    // Dashboard 
    #dashboard-header{
        flex-direction: column;
        justify-content: flex-start;
        i{
            transform: scale(0.65);
            padding: .5rem;
        }
    }

    .file-name{
        font-weight: 500;
        font-size: 1rem;
        padding-left: .5rem;
    }

    .file-date{
        font-size: .8rem;
        font-weight: 400;
    }    
}

// Smart-Phones

@include mediaSm {

}