<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='jqueryui/jquery-ui.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='jqueryui/jquery-ui.structure.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='jqueryui/jquery-ui.theme.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jqueryui/jquery-ui.js') }}"></script>
    <title>Modify File Headings</title>
    <style>
      #form-contents {
        max-width: 90%;
        padding: 20px;
        margin: 20px;
      }
    </style>
  </head>

  <body>
    <a href="{{ url_for('api_download',filename='data_excel_modified.xlsx') }}" target="_blank">Click here</a>
    <div id="form-contents">
      <h2>File:- <span id="filename">{{ filename }}</span></h2>
      <span id="extension" hidden>{{ extension }}</span>
      {% for head in headings %}
      <div class="headers">
        <br />
        {{ form|attr(head)(value=head, id=head , class_="head")}} <br />
      </div>
      {% endfor %}
    </div>
    <a id="downloadLink">
      <button id="downloadBtn">Download</button>
    </a>
    <input type="button" value="Save Changes" id="applyBtn" />
    <input type="button" value="Reorder Columns" id="reorderBtn" />
    <input type="button" value="Rename Headers" id="renameBtn" />
    <script>
      $(document).ready(function () {
        $('#downloadBtn').hide();
        $(".head").prop("readonly", true);
        $("#reorderBtn").click(function () {
          $(".head").prop("readonly", true);
          if ($("#form-contents").data("uiSortable")) {
            $("#form-contents").sortable("enable");
          }
          else{
            console.log("Sortable active");
          $("#form-contents").sortable();
          }
        });
        $("#renameBtn").click(function () {
          $(".head").prop("readonly", false);
          if ($("#form-contents").data("uiSortable")) {
            $("#form-contents").sortable("disable");
          }
        });
        var output = {};
        let i = 1;
        let ext = $("#extension").text();
        let filename = $("#filename").text();
        output.filename = filename;
        output.extension = ext;
        console.log(output);
        let header = {};
        $("#applyBtn").click(function () {
          var elems = $("#form-contents input").map(function (idx, elem) {
            head = $(elem).attr("id");
            new_head = $(elem).val();
            new_position = i;
            header[head] = {
              header_name: new_head,
              position: new_position,
            };
            i++;
          });
          output.headers = header;
          req_op = JSON.stringify(output);
          i = 1;
          $(".head").prop("readonly", true);
          if ($("#form-contents").data("uiSortable")) {
            $("#form-contents").sortable("disable");
          }
          console.log(req_op);
          $.ajax({
            contentType: "application/json",
            data: req_op,
            url: "/api/modify",
            type: "POST",
            success: function (data) {
                let mod_file = data.modifiedFile;
                console.log(mod_file);
                $('#downloadLink').attr('href',`/api/download/${mod_file}`);
                $('#downloadBtn').show();
            }
          });
        });
        $('#downloadBtn').click(function(event){
          //event.preventDefault();
          downloadUrl = $('#downloadLink').attr('href');
          $.ajax({
              url: downloadUrl,
              type: "GET",
              success: function () {
                $('#downloadBtn').hide();
                window.location.replace("/index");
                // $(location).attr('href', 'index');
            }
          });
        });
      });
    </script>
  </body>
</html>
