{% extends "base.html" %}
{% set active_page = '' -%}
{% block title%}
File Details
{% endblock %}
{% block contents %}
<header id="dashboard-header">
  <h3 class="sm-heading">MODIFY FILE</h3>
  <div><span class="file-name">{{filename}}</span>
    <span class="file-date" title="Upload Date">
      ({{ file['date_created']|format_date }})</span>
  </div>
  <div>
    <i class="fa fa-download fa-2x" aria-hidden="true" onclick="downloadFormSubmit(key='{{file["file_path"]}}',attachmentName='{{original_file_attachment}}' )" title="Download Original File"></i>
    <a class="no-decoration" href="{{ url_for('main.delete_file', file_id=file['_id']) }}"><i class="far fa-trash-alt fa-2x" title="Delete File"></i></a>
  </div>  
</header>
<span id="fileId" hidden>{{ file_id }}</span>
<hr>
<div class="dashboard">
  <div id="form-contents" class="header-list">
      <h3 class="sm-heading">HEADERS </h3>
      <br>
    {% for head in headings %}
    <div class="headers">
      <input type="text" id="{{ head }}" class="head" value="{{ head }}">
    </div>
    {% endfor %}
  </div>
  <div class="header-modifier-list">
    <div>
      <h3 class="sm-heading">TOOLS</h3><i class="fas fa-redo fa-1x" title="Reset" onclick="location.reload();"></i>
    </div>
    <h3 class="xs-heading">Modify Header</h3>
    <div class="header-modifier">
      <button class="custom-btn" id="reorderBtn">Reorder</button>
      <button class="custom-btn">Add New Header</button>
      <button class="custom-btn" id="deleteBtn" onfocus="dropSelectedHeader(event)">Drop Header</button>
    </div>
    <h3 class="xs-heading">Modify Text</h3>
    <div class="header-modifier">
      <button class="custom-btn" id="renameBtn">Rename</button>
      <button class="custom-btn" onclick="makeCapital()">Capitalize</button>
      <button class="custom-btn" onclick="makeLower()">Lowercase</button>
      <button class="custom-btn" onclick="makeUpper()">Upper</button>
    </div>

    <h3 class="xs-heading">Download File</h3>
    <div class="file-downloader">
      <button class="custom-btn" onclick="downloadFile('csv')">Download as CSV</button>
      <button class="custom-btn" onclick="downloadFile('xlsx')">Download as EXCEL</button>
      <button class="custom-btn" onclick="downloadFile('json')">Download as JSON</button>
      <!-- <button class="custom-btn">Convert to Delimitted Text - Choose Delimiter - </button> -->
    </div>

    <h3 class="xs-heading">Data Extraction Tools</h3>
    <div class="data-extractor">
      <button class="custom-btn">Link Extractor</button>
      <button class="custom-btn">Email Extractor</button>
      <button class="custom-btn">Phone Number (Indian or others)</button>
    </div>
  </div>
  <form id="downloadForm" action="/download_file" method="POST" hidden>
  </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/modify.js')}}"></script>
{% endblock %}