{% extends "base.html" %}
{% block title%}
  Upload File
{% endblock %}
{% block contents %}
 {% if current_user.is_authenticated %}  
       <br><h4>Hello, {{current_user.username}} !</h4>
{% endif %}
<div class = "upload-container col-md-4 offset-md-4" style="text-align: center;">
  <h3>Upload New File</h3>
  <form id="uploadForm" method="POST" enctype=multipart/form-data>
   <div class="custom-file">
      <input type="file" class="custom-file-input" id="fileUpload" name="file" required>
      <label class="custom-file-label" for="fileUpload">Choose file...</label>
      <button class="btn btn-outline-secondary" type="submit">Upload</button>
    </div>
  </div>
  </form>
{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script> <!-- Used for JQuery form functionality -->
  <script type="text/javascript">
    $(document).ready(function () {
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });    
    url ='/api/v1.0/upload';
    $("#uploadForm").ajaxForm({
    url: url,
    type:'post',
    success: function (res, status) {
      var form = $('<form style="display:none;" action="/modify" method="post">' +
        '<input type="text" name="file_id" value="' + res.file_id + '"  />' +
      '</form>')
      $('body').append(form);
      form.submit();
    },
    error: function(error){
      console.log("errored out");
      console.log(error);
    }
    })
  });
  </script>
{% endblock %}