{% extends "base.html" %}
{% block title%}
  Upload File
{% endblock %}
{% block contents %}
  <h1>Upload new File</h1>
  <form id="uploadForm" method="POST" enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>
{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script> <!-- Used for JQuery form functionality -->
  <script type="text/javascript">
    $(document).ready(function () {    
    url ='/api/v1.0/upload';
    $("#uploadForm").ajaxForm({
    url: url,
    type:'post',
    success: function (res, status) {
      var form = $('<form style="display:none;" action="/modify" method="post">' +
        '<input type="text" name="file_id" value="' + res.file_id + '"  />' +
      '</form>')
      $('body').append(form);
      form.submit();
    },
    error: function(error){
      console.log("errored out");
      console.log(error);
    }
    })
  });
  </script>
{% endblock %}