{% extends "base.html" %}
  {% block title%}
  Modify File Headings
  {% endblock %}

  {% block contents %}
  <div id="form-contents">
      <span id="fileId" hidden>{{ file_id }}</span>
      <h2>File:-{{ filename }}</h2>
      {% for head in headings %}
      <div class="headers">
        <br>
        <input type="text" id = "{{ head }}" class = "head" value= "{{ head }}">
        <br>
      </div>
      {% endfor %}
    </div>
    <a id="downloadLink">
      <button id="downloadBtn">Download</button>
    </a>
    <input type="button" value="Save Changes" id="applyBtn" />
    <input type="button" value="Reorder Columns" id="reorderBtn" />
    <input type="button" value="Rename Headers" id="renameBtn" />

      <label for="extension">File output type : </label>
      <input list="extensionList" name="extensionList" id="extension" value="CSV"/>
      <datalist id="extensionList">
        <option value="CSV">
        <option value="Excel">
      </datalist>

  {% endblock %}

  {% block scripts %}
  <script>
  $(document).ready(function () {
        $('#downloadBtn').hide();
        $(".head").prop("readonly", true);
        $("#reorderBtn").click(function () {
          $(".head").prop("readonly", true);
          if ($("#form-contents").data("uiSortable")) {
            $("#form-contents").sortable("enable");
          }
          else{
          $("#form-contents").sortable();
          }
        });
        $("#renameBtn").click(function () {
          $(".head").prop("readonly", false);
          if ($("#form-contents").data("uiSortable")) {
            $("#form-contents").sortable("disable");
          }
        });
        var output = {};
        let i = 1;        
        let file_id = $("#fileId").text();
        output.file_id = file_id;
        let header = {};
        $("#applyBtn").click(function () {
          let ext = $("input#extension").val();
          output.extension = ext;
          var elems = $("#form-contents input").map(function (idx, elem) {
            if($(elem).hasClass("head")){
              head = $(elem).attr("id");
            }else{
              head = $(elem).val();
            }            
            new_head = $(elem).val();
            new_position = i;
            header[head] = {
              header_name: new_head,
              position: new_position,
            };
            i++;
          });
          output.headers = header;
          req_op = JSON.stringify(output);
          i = 1;
          $(".head").prop("readonly", true);
          if ($("#form-contents").data("uiSortable")) {
            $("#form-contents").sortable("disable");
          }
          console.log(req_op);
          $.ajax({
            contentType: "application/json",
            data: req_op,
            url: "/api/v1.0/modify",
            type: "POST",
            success: function (data) {
                // let mod_file = data.modifiedFile;
                // console.log(mod_file);
                // $('#downloadLink').attr('href',`/api/download/${mod_file}`);
                $('#downloadBtn').show();
            },
            error: function (error) {
                console.log("Error");
                console.log(error);
            }
          });
        });
        $('#downloadBtn').click(function(event){
          //event.preventDefault();
          downloadUrl = $('#downloadLink').attr('href');
          $.ajax({
              url: downloadUrl,
              type: "GET",
              success: function () {
                $('#downloadBtn').hide();
                window.location.replace("/index");
                // $(location).attr('href', 'index');
            }
          });
        });
      });
    </script>
  {% endblock %}