{% extends "base.html" %}
  {% block title%}
  Modify File Headings
  {% endblock %}

  {% block contents %}
  <div id="form-contents">
      <span id="fileId" hidden>{{ file_id }}</span>
      <h2>File:-{{ filename }}</h2>
      {% for head in headings %}
      <div class="headers">
        <br>
        <input type="text" id = "{{ head }}" class = "head" value= "{{ head }}">
        <br>
      </div>
      {% endfor %}
    </div>
    <button id="downloadBtn">Download</button>
    <input type="button" value="Save Changes" id="applyBtn" />
    <input type="button" value="Reorder Columns" id="reorderBtn" />
    <input type="button" value="Rename Headers" id="renameBtn" />

      <label for="extension">File output type : </label>
      <input list="extensionList" name="extensionList" id="extension" value="CSV"/>
      <datalist id="extensionList">
        <option value="CSV">
        <option value="Excel">
      </datalist>

  {% endblock %}
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/modify.js')}}"></script>
  {% endblock %}